
body{
    background-image: url("../images/bg.jpg");
    background-repeat: repeat-y;
}
.navbar img{
   width: 70%;
   margin-left: 13%;
}
.jumbotron p{
   font-size: 1.2em;
   text-align: center;
}
.mid-title p{
   text-align: center;
   font-size: 1.4em;
}
.lady, .man{
   display: none;
}
.lady-icon img, .man-icon img{
   width: 100%;
}
#danger-notif, #gender-notif, #year-notif, #month-notif, #day-notif{
   display: none;
}
.offset{
   margin-left: 3%;
}
footer p{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}
@media(min-width: 800px){
    .navbar img{
        width: 37%;
        margin-left: 25%;
    }
}
@media(min-width: 990px){
    .navbar img{
        width: 27%;
        height: 45%;
        margin-left: 30%;
    }
    body{
        background-image: url("../images/bg-large.jpg");
        background-repeat: repeat-y;
    }
}
