/* @import url('https://fonts.google.com/specimen/Pacifico?category=Handwriting');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); */
body{
    background-image: url("./Images/kentenavbar.jpg");
    background-repeat: repeat-y;
    
}
h1{
    font-style: italic;
    font-family: 'Pacifico-Reguar.tff';
}
.navbar{
    width: 78%;
    margin-left: 11%;
    
}
.navbar img{
   width: 20%;
   margin-left: 5%;
}
.jumbotron p{
   font-size: 1.3em;
   text-align: center;
}
.mid-title p{
   text-align: center;
   font-size: 1.5em;
}
.girl, .man{
   display: none;
}
.girl img, .man img{
   width: 110%;
}
#danger-notif, #gender-notif, #year-notif, #month-notif, #day-notif{
   display: none;
}
.offset{
   margin-left: 5%;
}
/* .footer{
    padding-bottom: 30px;
} */

@media(min-width: 800px){
    .navbar img{
        width: 37%;
        margin-left: 25%;
    }
}
@media(min-width: 990px){
    .navbar img{
        width: 27%;
        height: 45%;
        margin-left: 30%;
    }
    body{
        background-image: url("./Images/kentenavbar.jpg");
        background-repeat: repeat-y;
    }
}
